# Compiled object files
*.o
*.obj
*.lo
*.la
*.al
*.libs
*.a
*.lib

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# CLion specific files
.idea/
cmake-build-debug/
cmake-build-release/
*.iml

# CMake specific files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Python specific files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Log files
*.log

# CSV files
*.csv

# System specific files
.DS_Store
Thumbs.db